<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>30916F46-DCF8-4F8E-AB8B-9575F9EFC05E</string>
			<string>D088C2C8-32EF-45AC-B37B-99D4159617EF</string>
			<string>23B2C56C-10C7-4EF7-AF9E-615EDE2A23E0</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>23B2C56C-10C7-4EF7-AF9E-615EDE2A23E0</key>
			<dict>
				<key>items</key>
				<array>
					<string>3C8235A9-6DCA-4B3F-BE8D-D47D06DEC2D1</string>
					<string>7E989AD0-78A4-4DEA-9D45-FA6791C45932</string>
				</array>
				<key>name</key>
				<string>Administration</string>
			</dict>
			<key>30916F46-DCF8-4F8E-AB8B-9575F9EFC05E</key>
			<dict>
				<key>items</key>
				<array>
					<string>509F9245-45FA-49DD-838C-4872B30F541D</string>
					<string>5588B5FF-9831-49F4-A65A-771A979681FA</string>
					<string>6E84621C-9B87-42B4-9D26-6206F031223A</string>
				</array>
				<key>name</key>
				<string>PHP</string>
			</dict>
			<key>509F9245-45FA-49DD-838C-4872B30F541D</key>
			<dict>
				<key>items</key>
				<array>
					<string>C302AA79-FEC8-4884-80A8-606CBEE0CAA0</string>
					<string>AF432E20-480F-48D5-A531-E0A5F23CDC3A</string>
					<string>FA0566EB-B33F-4E10-A3B9-8CC25FDB8A35</string>
				</array>
				<key>name</key>
				<string>Snippets</string>
			</dict>
			<key>5588B5FF-9831-49F4-A65A-771A979681FA</key>
			<dict>
				<key>items</key>
				<array>
					<string>B8AB8A7E-81CB-45BE-A627-60A5AA5E70B8</string>
					<string>FC63F120-0FB3-4223-9F1B-C70F746FE7FC</string>
					<string>2A1D9811-4188-4A20-9297-AAA5BA5EAC04</string>
					<string>2E21151D-43D5-4637-B647-66558AB1ED89</string>
				</array>
				<key>name</key>
				<string>Utilities</string>
			</dict>
			<key>6E84621C-9B87-42B4-9D26-6206F031223A</key>
			<dict>
				<key>items</key>
				<array>
					<string>DF7EF56B-D427-41AC-B941-AD25770419EB</string>
					<string>36760322-3240-4B18-B6D9-F65B0A161042</string>
					<string>AD6C592F-963E-4137-BBA0-0B30D1421B77</string>
					<string>E5AA1675-0696-4D3F-9C29-D9CEAD06F198</string>
					<string>FF47551F-5AEF-440A-9EE6-AD7176DC41F4</string>
				</array>
				<key>name</key>
				<string>Design Patterns</string>
			</dict>
			<key>D088C2C8-32EF-45AC-B37B-99D4159617EF</key>
			<dict>
				<key>items</key>
				<array>
					<string>C791D638-EB7D-4BE6-BAB0-00E97A35BC27</string>
				</array>
				<key>name</key>
				<string>Textmate</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>PHP Toolkit</string>
	<key>ordering</key>
	<array>
		<string>C791D638-EB7D-4BE6-BAB0-00E97A35BC27</string>
		<string>C302AA79-FEC8-4884-80A8-606CBEE0CAA0</string>
		<string>AF432E20-480F-48D5-A531-E0A5F23CDC3A</string>
		<string>FA0566EB-B33F-4E10-A3B9-8CC25FDB8A35</string>
		<string>FC63F120-0FB3-4223-9F1B-C70F746FE7FC</string>
		<string>2A1D9811-4188-4A20-9297-AAA5BA5EAC04</string>
		<string>B8AB8A7E-81CB-45BE-A627-60A5AA5E70B8</string>
		<string>7E989AD0-78A4-4DEA-9D45-FA6791C45932</string>
		<string>3C8235A9-6DCA-4B3F-BE8D-D47D06DEC2D1</string>
		<string>AD6C592F-963E-4137-BBA0-0B30D1421B77</string>
		<string>E5AA1675-0696-4D3F-9C29-D9CEAD06F198</string>
		<string>FF47551F-5AEF-440A-9EE6-AD7176DC41F4</string>
		<string>36760322-3240-4B18-B6D9-F65B0A161042</string>
		<string>DF7EF56B-D427-41AC-B941-AD25770419EB</string>
	</array>
	<key>uuid</key>
	<string>BC337363-0563-4425-B2F8-644009857B23</string>
</dict>
</plist>
