<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>mainMenu.items</key>
		<array>
			<string>91998EC6-88B8-4533-B80D-BB4C8BEAAD7B</string>
			<string>DC8C87E8-A8CB-4F0C-BBBC-A2DD50A4D7E0</string>
		</array>
		<key>mainMenu.submenus.91998EC6-88B8-4533-B80D-BB4C8BEAAD7B</key>
		<dict>
			<key>items</key>
			<array>
				<string>2A1D9811-4188-4A20-9297-AAA5BA5EAC04</string>
				<string>FC63F120-0FB3-4223-9F1B-C70F746FE7FC</string>
				<string>9E4FF274-18C4-4007-A64F-6D144372128B</string>
			</array>
			<key>name</key>
			<string>PHP</string>
		</dict>
		<key>mainMenu.submenus.9E4FF274-18C4-4007-A64F-6D144372128B.items</key>
		<array>
			<string>FA0566EB-B33F-4E10-A3B9-8CC25FDB8A35</string>
			<string>C302AA79-FEC8-4884-80A8-606CBEE0CAA0</string>
			<string>5109AACC-6165-437B-B687-E9894BD763EA</string>
			<string>C2427BC0-45AA-46BC-9AA1-B8D6147D43DF</string>
		</array>
		<key>mainMenu.submenus.DC8C87E8-A8CB-4F0C-BBBC-A2DD50A4D7E0</key>
		<dict>
			<key>items</key>
			<array>
				<string>2A98B76F-2994-482B-8385-E7F4DF20C728</string>
			</array>
			<key>name</key>
			<string>HTML</string>
		</dict>
		<key>ordering</key>
		<array>
			<string>5109AACC-6165-437B-B687-E9894BD763EA</string>
			<string>C302AA79-FEC8-4884-80A8-606CBEE0CAA0</string>
			<string>C2427BC0-45AA-46BC-9AA1-B8D6147D43DF</string>
			<string>2A98B76F-2994-482B-8385-E7F4DF20C728</string>
			<string>FC63F120-0FB3-4223-9F1B-C70F746FE7FC</string>
			<string>FA0566EB-B33F-4E10-A3B9-8CC25FDB8A35</string>
			<string>2A1D9811-4188-4A20-9297-AAA5BA5EAC04</string>
		</array>
	</dict>
	<key>deleted</key>
	<array/>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>A96AD9A3-DB2B-4FE3-8A5D-4C32E5D7CF55</string>
</dict>
</plist>
